<section id="content">

  <div class="container">
    <div className="row mt-3">				
      <div className="col">
          <div className="row mt-3">
            <div className="col">
              <h1><%= t("activerecord.models.message") %></h1>              
            </div>
          </div>          
          <br />
          <div className="row mt-3">
            <div className="col">				
              <%= render partial: 'list' %>
            </div>
          </div>						
        </div>						
      </div>	
    </div>        
  </div>
</section>
