<div class="container">
    <div class="row">				
        <div class="col mt-3">
            <div class="row mt-3">
                <div class="col">
                    <h1>Detalhes da Hashtag</h1>                        
                </div>
            </div>   
            <div class="row mt-3">
                <div class="col">
                    <%= form_with(model: @hashtag, local: true) do |form| %>
                        <%= render 'form', form: form %>
                        <div class="row mt-3">
                            <div class="col">	                                               
                                <%= link_to 'Cancelar', hashtags_path, class: "btn btn-default btn-md float-right" %>                           
                            </div>    
                        </div>    
                    <% end %>
                </div>
            </div>        
        </div>
    </div>
</div>
